.profile {
  width: 400px;

  padding-top: 20px;

  margin: 50px auto;

  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 2px rgb(120, 129, 145);
  border: 1px solid rgb(120, 129, 145);

  text-align: center;
}

.description {
  padding-left: 20px;
  padding-right: 20px;
}

.avatar {
  display: block;
  background-color: beige;
  width: 200px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.name {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 26px;
}

.tag {
  margin-top: 0;
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 18px;
  color: #727578;
}

.location {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 18px;
  color: #727578;
}

.stats {
  background-color: #d9ecff;
  border-radius: 0 0 5px 5px;
  display: flex;
  height: 90px;
  justify-content: space-between;
  list-style: none;
  margin: 28px 0 0;
  padding: 0;
}
.item {
  border-top: 1px solid #bdc2c9;
  width: 100%;
}

.item:not(:last-child) {
  border-right: 1px solid #bdc2c9;
}

.label {
  display: block;
  margin-top: 16px;
  font-weight: 500;
  font-size: 18px;
  color: #727578;
}

.quantity {
  display: block;

  margin-top: 4px;
  font-weight: 700;
  font-size: 26px;
}
